input{
    border-color:rgb(200, 200, 200);
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left:16px ;
    padding-right:16px;
    border-radius:8px;
    margin-bottom: 12px;
}
.first-name{
    width: 150px;
}
.first-name1{
    width: 150px;
}
.email{
    display:block;
    width: 340px;
}
.signup-button{
    color:white;
    background-color:rgb(47, 127, 231) ;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left:16px ;
    padding-right:16px;
    border-radius:8px;
    border:none;
    width: 375px;
    font-size: 16px;
}