
  p{
    font-family: Arial;
  }
  .deals{
    font-size:24px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .sales-end{
    color: red;
    font-style: italic; 
    font-size: 20px; 
    margin-top: 6px;
  }
