
  p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
  .price{
    font-size: 32px;
  }
  .type{
    color:rgb(100, 100, 100);
    font-size: 16px;
  }
  .rate{
    color:rgb(24, 128, 56);
    margin-top: 4px;
    margin-bottom: 8px;
  }
  .hour{
    color:rgb(100, 100, 100);
  }
  .per{
    color:rgb(235, 39, 39);
  }
